<a href="https://colab.research.google.com/github/diana-arango/Real_estate_team/blob/main/Real_Estate_Team.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt

# **Read the CSV file**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
file_path = "https://drive.google.com/file/d/1ouo22BeoUvDlOdNHHj6lddSy3XWaRFy8/view?usp=sharing"

Mounted at /content/drive

In [ ]:
# Show there is access to google drive
!ls "/content/drive/My Drive/housing.csv"

'/content/drive/My Drive/housing.csv'

In [ ]:
#copy file(s) as needed:
!cp "/content/drive/My Drive/housing.csv" "housing.csv"

In [ ]:
#confirm that files were copied
!ls

drive  housing.csv  sample_data

# Cleaning data

In [ ]:
#Read housing.csv file 
housing_df = pd.read_csv("housing.csv")
housing_df

                id  ... state
0       7049044568  ...    ca
1       7049047186  ...    ca
2       7043634882  ...    ca
3       7049045324  ...    ca
4       7049043759  ...    ca
...            ...  ...   ...
384972  7049053337  ...    ca
384973  7049052968  ...    ca
384974  7049050454  ...    ca
384975  7049050149  ...    ca
384976  7049050010  ...    ca

[384977 rows x 22 columns]

## Data Selection

In [ ]:
# Columns
housing_df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'type', 'sqfeet', 'beds',
       'baths', 'cats_allowed', 'dogs_allowed', 'smoking_allowed',
       'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished',
       'laundry_options', 'parking_options', 'image_url', 'description', 'lat',
       'long', 'state'],
      dtype='object')

In [ ]:
# Determine data types for the housing DataFrame
housing_df.dtypes

id                           int64
url                         object
region                      object
region_url                  object
price                        int64
type                        object
sqfeet                       int64
beds                         int64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
image_url                   object
description                 object
lat                        float64
long                       float64
state                       object
dtype: object

In [ ]:
# # Initialize a new dataframe to create a cleaner data file
# Drop the following columns since they dont add value to our analysis: 'id','url','region_url','image_url','description','lat','long','state'
new_clean_housing_df = housing_df.drop(['id', 'url', 'region_url', 'image_url','description'], axis=1)
new_clean_housing_df

              region  price       type  ...      lat     long  state
0       reno / tahoe   1148  apartment  ...  39.5483 -119.796     ca
1       reno / tahoe   1200      condo  ...  39.5026 -119.789     ca
2       reno / tahoe   1813  apartment  ...  39.6269 -119.708     ca
3       reno / tahoe   1095  apartment  ...  39.4477 -119.771     ca
4       reno / tahoe    289  apartment  ...  39.5357 -119.805     ca
...              ...    ...        ...  ...      ...      ...    ...
384972  reno / tahoe   1295  apartment  ...  39.4477 -119.771     ca
384973  reno / tahoe   1549  apartment  ...  39.6269 -119.708     ca
384974  reno / tahoe   1249  apartment  ...  39.5358 -119.746     ca
384975  reno / tahoe   1429  apartment  ...  39.5585 -119.703     ca
384976  reno / tahoe   1295  apartment  ...  39.4477 -119.771     ca

[384977 rows x 17 columns]

In [ ]:
# Determine data types for the housing DataFrame
new_clean_housing_df.dtypes

region                      object
price                        int64
type                        object
sqfeet                       int64
beds                         int64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
lat                        float64
long                       float64
state                       object
dtype: object

In [ ]:
# Determine if there are any missing values in the housing data
new_clean_housing_df.count()

region                     384977
price                      384977
type                       384977
sqfeet                     384977
beds                       384977
baths                      384977
cats_allowed               384977
dogs_allowed               384977
smoking_allowed            384977
wheelchair_access          384977
electric_vehicle_charge    384977
comes_furnished            384977
laundry_options            305951
parking_options            244290
lat                        383059
long                       383059
state                      384977
dtype: int64

In [ ]:
# Determine if there are any missing values in the housing data.
# Find null values
for column in new_clean_housing_df.columns:
    print(f"Column {column} has {new_clean_housing_df[column].isnull().sum()} null values")

Column region has 0 null values
Column price has 0 null values
Column type has 0 null values
Column sqfeet has 0 null values
Column beds has 0 null values
Column baths has 0 null values
Column cats_allowed has 0 null values
Column dogs_allowed has 0 null values
Column smoking_allowed has 0 null values
Column wheelchair_access has 0 null values
Column electric_vehicle_charge has 0 null values
Column comes_furnished has 0 null values
Column laundry_options has 79026 null values
Column parking_options has 140687 null values
Column lat has 1918 null values
Column long has 1918 null values
Column state has 0 null values

In [ ]:
#Determine the amount of  missing values in the housing data
new_clean_housing_df.isnull().sum()

region                          0
price                           0
type                            0
sqfeet                          0
beds                            0
baths                           0
cats_allowed                    0
dogs_allowed                    0
smoking_allowed                 0
wheelchair_access               0
electric_vehicle_charge         0
comes_furnished                 0
laundry_options             79026
parking_options            140687
lat                          1918
long                         1918
state                           0
dtype: int64

In [ ]:
# Drop the null rows 
new_clean_housing_df = new_clean_housing_df.dropna()
new_clean_housing_df

              region  price       type  ...      lat     long  state
0       reno / tahoe   1148  apartment  ...  39.5483 -119.796     ca
1       reno / tahoe   1200      condo  ...  39.5026 -119.789     ca
2       reno / tahoe   1813  apartment  ...  39.6269 -119.708     ca
3       reno / tahoe   1095  apartment  ...  39.4477 -119.771     ca
6       reno / tahoe    935  apartment  ...  39.5118 -119.802     ca
...              ...    ...        ...  ...      ...      ...    ...
384970    sacramento   1960  apartment  ...  38.4962 -121.530     ca
384972  reno / tahoe   1295  apartment  ...  39.4477 -119.771     ca
384974  reno / tahoe   1249  apartment  ...  39.5358 -119.746     ca
384975  reno / tahoe   1429  apartment  ...  39.5585 -119.703     ca
384976  reno / tahoe   1295  apartment  ...  39.4477 -119.771     ca

[235970 rows x 17 columns]

In [35]:
# Confim there are no missing values in the housing data after cleaning data
for column in new_clean_housing_df.columns:
    print(f"Column {column} has {new_clean_housing_df[column].isnull().sum()} null values")

Column region has 0 null values
Column price has 0 null values
Column type has 0 null values
Column sqfeet has 0 null values
Column beds has 0 null values
Column baths has 0 null values
Column cats_allowed has 0 null values
Column dogs_allowed has 0 null values
Column smoking_allowed has 0 null values
Column wheelchair_access has 0 null values
Column electric_vehicle_charge has 0 null values
Column comes_furnished has 0 null values
Column laundry_options has 0 null values
Column parking_options has 0 null values
Column lat has 0 null values
Column long has 0 null values
Column state has 0 null values

In [ ]:
# Remove the index

In [ ]:
## Preprocessed dataframe is Saved in a new CSV file 
output_file_path = "<file path>new_clean_housing.csv"
new_clean_housing_df.to_csv(output_file_path, index=False)

In [ ]:
# categorize the data frame into region? state? type of housing?

## Machine learning Module

In [ ]:
region_counts=df.region.value_counts()

In [ ]:

region_counts.plot.density(xlim=[0,3000])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df_type = pd.DataFrame(enc.fit_transform(df.type.values.reshape(-1,1)))

# Rename encoded columns
encode_df_type.columns = enc.get_feature_names(['type'])
encode_df_type.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df_region = pd.DataFrame(enc.fit_transform(df.region.values.reshape(-1,1)))

# Rename encoded columns
encode_df_region.columns = enc.get_feature_names(['region'])
encode_df_region.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df_laundry = pd.DataFrame(enc.fit_transform(df.laundry_options.values.reshape(-1,1)))

# Rename encoded columns
encode_df_laundry.columns = enc.get_feature_names(['laundry_options'])
encode_df_laundry.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df_parking = pd.DataFrame(enc.fit_transform(df.parking_options.values.reshape(-1,1)))

# Rename encoded columns
encode_df_parking.columns = enc.get_feature_names(['parking_options'])
encode_df_parking.head()

In [ ]:
df=df.merge(encode_df_region,left_index=True,right_index=True).drop("region",1)

In [ ]:
df=df.merge(encode_df_type,left_index=True,right_index=True).drop("type",1)

In [ ]:
df=df.merge(encode_df_laundry,left_index=True,right_index=True).drop("laundry_options",1)

In [ ]:
df=df.merge(encode_df_parking,left_index=True,right_index=True).drop("parking_options",1)

In [ ]:
df

In [ ]:
# Create our features
from sklearn.model_selection import train_test_split
y = df['price']
#X_with_dummies = pd.get_dummies(df)
#X_with_dummies

X=df.drop(columns="price")
#X=pd.get_dummies(X)

# Create our target

In [ ]:
X

In [ ]:
# Check the balance of our target values
price_counts=y.value_counts()

In [ ]:
# Determine which values to replace
replace_price = list(price_counts[price_counts < 500].index)

# Replace in DataFrame
for price in replace_price:
    df.price= df.price.replace(price,"Other")


# Check to make sure binning was successful
df.price.value_counts()

In [ ]:
from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=1)
#Figure out how to fix stratify

In [ ]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE
#from imblearn.over_sampling import RandomOverSampler
#ros = RandomOverSampler(random_state=1)
#X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
#Counter(y_resampled)

In [ ]:

from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train,y_train)

In [ ]:

y_pred = model.predict(X_test)
print(y_pred.shape)

In [ ]:
from sklearn import metrics

# RMSE
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))